body {
width: 1600px;
height: 900px;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

#vid {
	z-index: 1;
	position: absolute;
	float: center;
	border-color: black;
	height: 100px;
	border-radius: 50%;
	width: 100px;
	border: 10px solid rgba(255,255,255,.5);
}
