body {
    width: 600px;
    height: 240px;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

#loginform {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	display: inline-block;
	padding: .5em;
	background-color: #C1C5C9;
	-webkit-box-shadow: 0px 2px 2px gray;
	box-shadow: 0px 2px 2px gray;
	margin-right: 10px;
	border-color: transparent;
}

input {
	height: 20px;
	/*border: none;*/
	box-sizing: border-box;
	margin-bottom:0px;
	direction: ltr;

}

#vid {
	background: url('../images/overlay.png') no-repeat;
	background-size: 480px 240px;
	height: 240px;
	width: 480px;
	position: absolute;
	/*background-color: #BBBDC0;*/
	opacity: .5;
	/*width: auto;*/
	border-bottom: 40px solid white;
}

video{
	left: 10%;
	position: relative;
}

#forms {
	text-align: center;
	display:table;
	left: 10%;
}
