html {
	padding-bottom: 1.5%;
}
body {
    width: 600px;
    height: 260px;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

span {
	font-family: 'Quicksand',sans-serif;
}

span.description {
	font-size: .6em;
}

.loginform {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    display: table-cell;
    padding: .5em;
    background-color: #C1C5C9;
    -webkit-box-shadow: 0px 2px 2px gray;
    box-shadow: 0px 2px 2px gray;
    margin-right: 10px;
    border-color: transparent;
}

input {
    height: 20px;
    /*border: none;*/
    box-sizing: border-box;
    margin-bottom:0px;
    direction: ltr;

}
form {
	padding: 10px;
}

#top-buttons {
	left: 39%;
	position: relative;
	padding-top: 2%;
}

#vid {
	left: 11%;
	z-index: 10;
    background: url('../images/overlay.png') no-repeat;
    background-size: 480px 240px;
    height: 240px;
    width: 480px;
    position: absolute;
    opacity: .5;
    border-bottom: 40px solid white;
}

.spinner {
    top: 34%;
    left: 50%;
	z-index: 10;
    position: absolute;
}

#video {
    left: 10%;
    position: relative;
}

#canvas {
    left: 10%;
    position: relative;
}

#forms {
	position: relative;
    display: block;
    left: 15%;
}

#newuser {
	bottom: 2px;
	float:right;
	position: relative;
	height: 75%;
}

#forms.hide {
	display: none;
}

button#register {
	position: relative;
	bottom: 31px;
	right: -55%;
}
