body {
    width: 480px;
    height: 240px;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

#vid {
	background: url('../images/overlay.png') no-repeat;
	background-size: 320px 240px;
	height: 240px;
	width: 320px;
	position: absolute;
	/*background-color: #BBBDC0;*/
	opacity: .9;
	/*width: auto;*/
	/*border: 10px solid #BBBDC0;*/
}
