body {
    width: 480px;
    height: 240px;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

#loginform {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

#vid {
	background: url('../images/overlay.png') no-repeat;
	background-size: 480px 240px;
	height: 240px;
	width: 480px;
	position: absolute;
	/*background-color: #BBBDC0;*/
	opacity: .5;
	/*width: auto;*/
	border-bottom: 40px solid white;
}
